
:root{
  --primary: rgb(28, 28, 42);
  --primary_light: rgb(46, 46, 69);
  --secondary: rgb(255, 61, 2);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--primary);
  color: white;
  overflow-y: hidden;
}





.logo-title:hover{
  transform: scale(1.02);
}

.main-flex{
  width: 80vw;
  height: 40vh;
  border: 1px solid grey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 3em auto 2em auto;
  background-color: var(--primary_light);
}



.controls-flex{
  width: 80vw;
  height: 25vh;
  border: 1px solid grey;
  border-radius: 10px;
  display: flex;
  margin: auto;
  background-color: var(--primary_light);
}

.reader-child{
  
  font-size: 7vw;
  
  margin: auto;
}







.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.checkmark-svg{
  position: relative;
}

.chackmark-svg-wrapper{
  width: 2em;
  height: 2em;
  position: absolute;
  padding: 0.5em 0.5em;
  bottom: 0;
  right: 0;
  display: none;
  transition: display 0.5sec ease-in;
  color: rgb(67, 251, 67);
}


.book-list-container{
  height: 55vh;
  padding: 0.6rem;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

.add-btn{
  width: 5em;
  height: 2em;
  border-radius: 5px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: large;


  background-color: var(--secondary);
}

::-webkit-scrollbar { 
  display: none; 
}

